<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="top.weixiansen574.LyrePlayer">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NetworkHelpActivity"
            android:exported="false"
            android:label="网络相关帮助"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".SelecFromServerActivity"
            android:exported="false"
            android:label="在线曲库"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FloatListActivity"
            android:exported="false"
            android:label="@string/float_list"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FileHelp"
            android:exported="false"
            android:label="@string/file_help"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AboutActivity"
            android:exported="false"
            android:label="@string/about"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AdjustAndStartActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>

        <service android:name=".FloatingButtonService" />
        <service
            android:name=".ClickService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

</manifest>